.tr:nth-child(2) th:nth-child(4) button {
  background-color: #89d400;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.tr:nth-child(2) th:nth-child(5) button {
  background-color: #ff2811;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}
.tr:not(:nth-child(2)) button {
  cursor: not-allowed;
  pointer-events: none;
  border: none;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #cccccc;
  color: #666666;
}

.tr:not(:nth-child(2)) {
  color: #666666;
}

.divWrapper {
  display: inline-block;
}

span {
  position: relative;
  font-size: 35px;
  text-align: center;
}
