li {
  border: solid 1px #ebf0f2;
  border-radius: 0.5rem;
  border-spacing: 1rem;
  margin-top: 1em;
  position: relative;
}

/* Use LESS here..? Or? */
.accept {
  background-color: #89d400;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  height: 48px;
  width: 48px;
  top: 50%;
  text-align: center;
  color: white;
  line-height: 48px;
  font-weight: bold;
}

.decline {
  background-color: #ff2811;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  height: 48px;
  width: 48px;
  text-align: center;
  color: white;
  line-height: 48px;
  font-weight: bold;
}

.divWrapper {
    display: inline-block;
}

span {
  position: relative;
  font-size: 48px;
  text-align: center;
}
