.box {
  position: relative;
  display: inline-block;
}

.badge-info {
  visibility: hidden;
  position: absolute;
  color: #1c1b1b;
  background-color: #ebf0f2;
  padding: 6px;
  border-radius: 4px;
  width: 8rem;
  text-align: center;
  bottom: 100%;
  left: 50%;
  margin-left: -4rem;
  z-index: 10;
}

.box:hover .badge-info {
  visibility: visible;
}

.box .badge-info::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: #ebf0f2 transparent transparent transparent;
}
