.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 2rem auto 1rem;
}

.arrow {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .body {
    margin: auto 2rem;
  }

  .arrow {
    display: block;
    font-size: 10rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }

  .visible {
    display: flex;
  }

  .hidden {
    display: none;
  }
}
