h1,
h2 {
  text-align: center;
}

.new-user-button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
}

.accept {
  background-color: #89d400;
}

.decline {
  background-color: #ff2811;
}

.accept:hover {
  background-color: darkgreen;
}

.decline:hover {
  background-color: darkred;
}

span {
  position: relative;
  font-size: 35px;
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
  text-align: center;
  border-spacing: 1rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.selector {
  color: black;
}

.button {
  width: fit-content;
  margin: 2rem auto;
}

.success {
  color: green;
}
