.navbar {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 1px black;
  height: 5rem;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  margin: auto 1rem auto auto;
}

.item {
  margin: auto 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.small {
    font-size: medium;
}
