.center {
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
  text-align: center;
  border: solid 1px var(--primary-color);
  border-radius: 0.5rem;
  border-spacing: 1rem;
}

th {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  th {
    display: grid;
    width: 100%;
  }
}

.selector {
  color: black;
}

.error {
  color: red;
}

.button {
  width: fit-content;
  margin: 2rem auto;
}
