.tournament {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
}

.bracket-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bracket {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around; /*space-around gives more natural look than evenly*/
  min-width: 200px;
  flex-grow: 1;
}

.border-right {
  border-right: 1px solid gray;
}

@media only screen and (min-width: 1025px) {
  /* Group together every other */
  .bracket .match:nth-child(2n):not(:last-child) {
    margin-bottom: 2rem;
  }
  .bracket .match {
    margin-bottom: 0.5rem;
  }
  .match {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .tournament {
    flex-direction: column;
  }

  .bracket {
    padding-bottom: 2rem;
  }

  .border-right {
    border-right: none;
    border-bottom: 1px solid gray;
  }
  .bracket-container > h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .bracket-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .match {
    width: 80%;
  }
}

@media only screen and (max-width: 560px) {
  .modal-body {
    margin: 0 2rem;
  }
  .match {
    width: 100%;
  }
}

.match {
  margin: 1rem auto;
  font-size: 1.5rem;
  line-height: 4rem;
  color: var(--primary-color);
  background-color: var(--olive);
  border-radius: 12px;
  border: 2px solid gray;
}

.match:hover {
  background-color: var(--background-color);
}

.match-info {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.match-info span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.black {
  color: black;
}

.Modal {
  all: unset;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal-body {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid gray;
  transform: translateY(-50%);
  background-color: var(--background-color);
  border-radius: 16px;
  text-align: center;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.winner {
  text-align: center;
  color: var(--orange);
}
