.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: space-evenly;
}

.flex-container > div {
  background-color: #f1f1f1;
  /* width: 100px; */
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/* .flex-container {
    float: left;
} */
.tournament {
  display: flex;
  justify-content: space-evenly;
}

.flex-item {
  color: green;
}
