.table-container {
  max-height: 60vh;
  overflow-y: scroll;
  border: solid 1px var(--primary-color);
  border-radius: 0.5rem;
  border-spacing: 1rem;
}

table {
  width: 100%;
  height: 100%;
  margin: auto auto;
  text-align: center;
}

.red {
  color: var(--red);
  display: inline;
}

.green {
  color: var(--green);
  display: inline;
}
