.table-container {
  max-height: 60vh;
  overflow-y: scroll;
  border: solid 1px #ebf0f2;
  border-radius: 0.5rem;
  border-spacing: 1rem;
}

table {
  width: 100%;
  height: 100%;
  margin: auto auto;
  text-align: center;
}

.red {
    color: #f03b00;
    display: inline;
}

.green {
    color: #4eb004;
    display: inline;
}
