.center {
  text-align: center;
}

.name {
  text-align: center;
}

.elo {
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
  text-align: center;
}

.rank-badge {
  width: 16px;
  /* height: 16px; */
  margin-left: -18px;
  margin-right: 2px;
}
