.tooltip {
  color: var(--black);
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 4px;
}

.selector {
  color: black;
  width: 10rem;
}

.inputs {
  display: flex;
  flex-direction: row;
}
