.tooltip {
  color: var(--black);
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 4px;
}

.selectorElo {
  color: black;
  min-width: 16rem;
}

.first-selector {
  margin-right: 1rem;
}

.inputs {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .inputs {
    flex-direction: column;
  }

  .first-selector {
    margin-right: 0;
  }
}
