.tooltip {
  color: var(--black);
  background-color: var(--primary-color);
  padding: 6px;
  border-radius: 4px;
  /* display: table; */
}

.selectorElo {
  color: black;
  min-width: 16rem;
}

.first-selector {
  margin-right: 1rem;
}

.inputs {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .inputs {
    flex-direction: column;
  }

  .first-selector {
    margin-right: 0;
  }
}
/* .matches-container {
} */
.match {
  display: table-row;
  text-align: left;
  white-space: pre-wrap;
}
.match > div {
  display: table-cell;
}
.winner {
  color: green;
  font-size: inherit;
}
.loser {
  color: red;
  font-size: inherit;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
