h1 {
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
  text-align: center;
  border: solid 1px var(--primary-color);
  border-radius: 0.5rem;
  border-spacing: 1rem;
}

th {
  width: 50%;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 4rem;
}

.season-select {
  color: black;
  width: 12rem;
  margin: auto;
}

@media only screen and (max-width: 800px) {
  th {
    display: grid;
    width: 100%;
  }

  .stats {
    flex-direction: column;
  }
}

.selector {
  color: black;
}

.error {
  color: red;
  text-align: center;
}
