.side-menu {
  width: 600px;
  margin: 0 1rem auto 2rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .side-menu {
    width: 100%;
    margin: auto 2rem;
  }

  .menu-visible {
    display: block;
  }

  .hidden {
    display: none;
  }
}
