.side-menu {
  min-width: 300px;
  max-width: 300px;
  margin: 0 1rem auto 2rem;
}

@media only screen and (max-width: 1024px) {
  .side-menu {
    width: 100%;
    max-width: unset;
    margin: auto 2rem;
  }

  .menu-visible {
    display: block;
  }

  .hidden {
    display: none;
  }
}
