.name {
  text-align: center;
}

.elo {
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
  text-align: center;
  border-spacing: 1rem;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem auto 2rem auto;
}

.row button {
  margin: auto 1rem;
}
