.container {
  background-color: #1c1b1b;
  width: 80%;
  max-width: 60rem;
  height: fit-content;
  margin: 8rem auto auto auto;
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.name {
  text-align: center;
}

.elo {
  text-align: center;
}

table {
  width: 100%;
  margin: auto auto;
  text-align: center;
  border: solid 1px #ebf0f2;
  border-radius: 0.5rem;
  border-spacing: 1rem;

  tr {
    border: solid 1px white;
  }
}
